.form-container
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .form 
    {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        
        

        .google
        {
            display: flex;
            width: 300px;
            gap: 10px;
            margin-top: 15px;
            margin: 40px 0;
            padding: 13px 20px;
            align-items: center;
            justify-content: center;
            background-color: var(--red);
            color: var(--white);
            border-radius: 8px;
            cursor: pointer;

            svg
            {
                width: 24px;
                height: 24px;

            }

            h3 
            {
                font-size: var(--fs-lg);

            }

            @media screen and (min-width: 1400px) {
                width: 400px;
            }

        }

        .option
        {
            height: 1px;
            display: flex;
            margin-bottom: 30px;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--light-grey);
            
            span
            {
                padding: 0 7px;
                background-color: var(--white);
                z-index: 1;
                position: absolute;
                color: var(--grey);
            }
        }

        .details
        {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

        .emailBtn
        {
            background-color: var(--green);
            color: var(--white);
        }
    }
}